In [10]:
import pandas as pd

In [46]:
df = pd.read_csv('universities.csv', encoding='latin-1')

In [47]:
df['Founded'] = df["Founded"].str.extract("(\d{4})")

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Kingsley\AppData\Local\Temp\ipykernel_3764\3688341910.py:1: SyntaxWarning: invalid escape sequence '\d'
  df['Founded'] = df["Founded"].str.extract("(\d{4})")

In [25]:
df.Founded = df.Founded.astype(int)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     69 non-null     object
 1   University  69 non-null     object
 2   Founded     69 non-null     int64
 3   Type        69 non-null     object
 4   Enrollment  69 non-null     object
 5   Link        69 non-null     object
dtypes: int64(1), object(5)
memory usage: 3.4+ KB

In [50]:
df['Enrollment'] = df['Enrollment'].str.replace(' ', ",")
df["Enrollment"] = df["Enrollment"].str.extract("(\d{1,3}(?:,\d{1,3})*)")
df['Enrollment'] = df['Enrollment'].str.replace(',', '')
df.Enrollment.head(32)

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Kingsley\AppData\Local\Temp\ipykernel_3764\2239181894.py:2: SyntaxWarning: invalid escape sequence '\d'
  df["Enrollment"] = df["Enrollment"].str.extract("(\d{1,3}(?:,\d{1,3})*)")

0       35000
1       85000
2       29827
3      311175
4       73807
5       91000
6     2097182
7       25500
8       55484
9       30866
10      32000
11     215000
12      18911
13      84000
14      80000
15      53581
16      42750
17      72480
18      43600
19     170530
20     170000
21      36500
22     350000
23     130000
24     104000
25     124000
26      32000
27      13782
28    7140000
29    1045665
30    1000000
31      32900
Name: Enrollment, dtype: object

In [51]:
df['Enrollment'] = df['Enrollment'].astype(int)

In [52]:
df.head()

,Country,University,Founded,Type,Enrollment,Link
0,Albania,University of Tirana,1957,Public,35000,https://en.wikipedia.org/wiki/University_of_Ti...
1,Algeria,Constantine University,1978,Public,85000,https://en.wikipedia.org/wiki/List_of_universi...
2,Angola,Agostinho Neto University,1962,Public,29827,https://en.wikipedia.org/wiki/Agostinho_Neto_U...
3,Argentina,University of Buenos Aires,1821,Public,311175,https://en.wikipedia.org/wiki/University_of_Bu...
4,Australia,Monash University,1958,Public,73807,https://en.wikipedia.org/wiki/Monash_University

In [53]:
df.to_csv('universities-clean.csv', index=False)