In [10]:
import pandas as pd

In [11]:
df = pd.read_csv('universities.csv', encoding='latin-1')

In [12]:
df['Founded'] = df["Founded"].str.extract("(\d{4})")

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Kingsley\AppData\Local\Temp\ipykernel_3764\3688341910.py:1: SyntaxWarning: invalid escape sequence '\d'
  df['Founded'] = df["Founded"].str.extract("(\d{4})")

In [13]:
df.Founded = df.Founded.astype(int)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     69 non-null     object
 1   University  69 non-null     object
 2   Founded     69 non-null     int64
 3   Type        69 non-null     object
 4   Enrollment  69 non-null     object
 5   Link        69 non-null     object
dtypes: int64(1), object(5)
memory usage: 3.4+ KB

In [15]:
df['Enrollment'] = df['Enrollment'].str.replace(' ', ",")
df["Enrollment"] = df["Enrollment"].str.extract("(\d{1,3}(?:,\d{1,3})*)")
df.Enrollment.head(32)

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Kingsley\AppData\Local\Temp\ipykernel_3764\3005435532.py:2: SyntaxWarning: invalid escape sequence '\d'
  df["Enrollment"] = df["Enrollment"].str.extract("(\d{1,3}(?:,\d{1,3})*)")

0        35,000
1        85,000
2        29,827
3       311,175
4        73,807
5        91,000
6     2,097,182
7        25,500
8        55,484
9        30,866
10       32,000
11      215,000
12       18,911
13       84,000
14       80,000
15       53,581
16       42,750
17       72,480
18       43,600
19      170,530
20      170,000
21       36,500
22      350,000
23      130,000
24      104,000
25      124,000
26       32,000
27       13,782
28    7,140,000
29    1,045,665
30    1,000,000
31       32,900
Name: Enrollment, dtype: object

In [16]:
df['Enrollment'] = df['Enrollment'].astype(int)

ValueError: invalid literal for int() with base 10: '35,000'

In [17]:
df.head()

,Country,University,Founded,Type,Enrollment,Link
0,Albania,University of Tirana,1957,Public,"35,000",https://en.wikipedia.org/wiki/University_of_Ti...
1,Algeria,Constantine University,1978,Public,"85,000",https://en.wikipedia.org/wiki/List_of_universi...
2,Angola,Agostinho Neto University,1962,Public,"29,827",https://en.wikipedia.org/wiki/Agostinho_Neto_U...
3,Argentina,University of Buenos Aires,1821,Public,"311,175",https://en.wikipedia.org/wiki/University_of_Bu...
4,Australia,Monash University,1958,Public,"73,807",https://en.wikipedia.org/wiki/Monash_University

In [18]:
df.to_csv('universities-clean.csv', index=False)